PORT=3000
NODE_ENV=development

DB_HOST=localhost
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=
DB_DATABASE=totembrindes

JWT_SECRET=
JWT_EXPIRES_IN_SECONDS=1800

ADMIN_API_KEY=

CORS_ORIGIN=http://localhost:3001

EVOLUTION_API_URL=http://evolution-api:8080
EVOLUTION_INSTANCE=
EVOLUTION_API_KEY=
