DB_HOST=localhost
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=troque-esta-senha
DB_DATABASE=totem_brindes
PORT=3000
CORS_ORIGIN=http://localhost:3001,http://127.0.0.1:3001
JWT_SECRET=2D&weimAP3xl
JWT_EXPIRES_IN_SECONDS=1800
ADMIN_API_KEY=admin@frei2026
