.recebimento-topo {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: start;
    margin-top: 10px;

    h1 {
        padding-top: 5px;
        font-size: 2em;
        color: rgb(255, 188, 2);
        text-shadow: 1px 1px 1px black;
        font-weight: bolder;
    }

    h1, p {
        margin: 0px;
    }

    p {
        color: white;
        font-size: 1.1  em;
    }
}